@{
    IEnumerable<Quiz> quizzes = ViewBag.Quizzes;
}

<div class="container">
    <div class="row">
        @foreach (Quiz q in quizzes)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@q.QuizName</h5>
                        <p class="card-text">@q.Description</p>
                        <p class="card-text">Duration: @q.DurationMinutes minutes</p>
                        <p class="card-text">Number of questions: @q.NbrQuestion</p>
                        <form asp-action="startQuizByTeacher">
                            <input hidden type="text" value="@q.QuizId" name="idQuiz" ></input>
                            <input hidden type="text" value="@Guid.NewGuid().ToString()" name="uniqueIdString"></input>
                            <button type="submit" class="btn btn-primary">Start Quiz</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
